<footer class="footer-container">
    <div class="social-links">
      <a href="https://www.instagram.com/furia.apparel/" target="_blank">
        <img src="./assets/Instagram_logo.png" alt="Instagram">
      </a>
      <a href="https://x.com/FURIA" target="_blank">
        <img src="./assets/X_logo.png" alt="Twitter/X">
      </a>
      <a href="https://www.linkedin.com/company/furiagg/" target="_blank">
        <img src="./assets/LinkedIn_logo.png" alt="LinkedIn">
      </a>
      <a href="https://www.youtube.com/@FURIAgg" target="_blank">
        <img src="./assets/YouTube_logo.png" alt="YouTube">
      </a>
    </div>
    <div class="dev-credits">
      <span>Developed by Fernando B Santos</span>
    </div>
  </footer>