<app-header></app-header>

<main class="main">
    <section class="main-section">
        <div class="main-titulo">
            <span>RESULTADOS</span>
        </div>
        <div class="dados-container">
            <!-- Coluna 1 -->
            <div class="dado-coluna">
                <h3 class="dado-titulo">Counter-Strike</h3>
                <div class="dado-valor">{{ dado1 }}</div>
            </div>
            
            <!-- Coluna 2 -->
            <div class="dado-coluna">
                <h3 class="dado-titulo">League of Legends</h3>
                <div class="dado-valor">{{ dado2 }}</div>
            </div>
            
            <!-- Coluna 3 -->
            <div class="dado-coluna">
                <h3 class="dado-titulo">Kings League</h3>
                <div class="dado-valor">{{ dado3 }}</div>
            </div>
        </div>   

        <div class="dados-evento">
            <div class="dado-coluna-evento">
                <h3 class="dado-titulo-evento">Próximos Eventos</h3>
                <div class="dado-valor-evento">{{ dado4 }}</div>
            </div>
        </div>

        <div class="chatbot">
            
        </div>

    </section>
    
<app-usuario-form></app-usuario-form>

<app-footer></app-footer>

</main>
